# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.serilog-sinks-console.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\nblumhardt\serilog-sinks-console\.idea\.idea.serilog-sinks-console\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
